.connection-form {
  margin: 10rem auto 0rem auto;
  text-align: center;
  background-color: #f0d8b9;
  border-radius: 0.8rem;
  width: fit-content;
  padding: 2rem;
}
.form-container ul {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
#register,
#login {
  padding: 0.5rem;
  border-radius: 0.8rem;
  color: white;
  background-color: #122544;
  cursor: pointer;
}
.active-btn {
  background-color: #3140c7 !important;
  -webkit-box-shadow: 1px 1px 4px 1px #000000;
  box-shadow: 1px 1px 4px 1px #000000;
}
input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.terms-label {
  display: flex;
  flex-wrap: nowrap;
}
#terms {
  cursor: pointer;
}
.terms-link {
  padding: 0rem 0.2rem 0rem 0.2rem;
  color: blue !important;
}

.confirm-signup,
.confirm-signin {
  background-color: #122544;
  color: white;
  cursor: pointer;
}
.confirm-signup:hover,
.confirm-signin:hover {
  background-color: #3140c7 !important;
}
