.gif-container {
  text-align: center;
}
.close-gifList {
  width: 20rem;
  background-color: #f0d8b9;
  cursor: pointer;
}
.close-gifList:hover {
  background-color: rgb(201, 86, 86);
}
.close-gifList-img{
  width: 5rem;
}
.gifs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gif-item {
  cursor: pointer;
  background-color: #f0d8b9;
  transition: 0.5s;
}
.gif-item:hover {
  background-color: #db5507;
}
.gif-image {
  width: 50%;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.loading .loader {
  width: 7.5rem;
  height: 7rem;
  border: 1rem solid #f5f5;
  border-top: 5px solid #222;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: loading 600ms ease-in infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.input-field {
  font-size: 20px;
  vertical-align: middle;
  transition: 0.5s;
  border-radius: 2rem;
  padding: 0.6rem;
  margin: 5px;
}

.input-field:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  outline: none;
}

.input-field:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.submit-btn {
  background-color: rgb(19, 209, 235);
  color: #fff;
  padding: 6px 30px;
  vertical-align: middle;
  outline: none;
  border: none;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 13px 4px rgba(0, 0, 0, 0.17);
  box-shadow: -1px 1px 13px 4px rgba(0, 0, 0, 0.17);
}

.submit-btn:hover {
  background-color: rgb(10, 130, 146);
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif-item {
  flex-basis: 19%;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .gif-item {
    flex-basis: 31%;
  }
}

@media screen and (max-width: 600px) {
  .gif-item {
    flex-basis: 48%;
  }
}
