.post-list-container{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.post-container{
    width: 40rem;
    min-height: 18rem;
    padding: 0.3rem;
    margin: 2.5rem;
    border: #bf3219 solid 0.2rem;
    border-radius: 1rem 0.5rem;
    background-color: #f0d8b9;
    display: flex;
    flex-direction: column;
}
.post-header{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: #bf3219 solid 0.1rem;
}
.post-date{
    align-self: flex-end;
}
.post-userName{
    align-self: center;
    font-style: oblique;
    text-decoration: underline;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.textContent-container{
    min-height: 3rem;
    align-self: center;
}
.textContent{
    margin-top: 0.5rem;
}
.image-container{
    text-align: center;
}

.comment-container{
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;
    
}
.border{
    border: solid #ab0a26 0.1rem;
    border-radius:  0.2rem 1rem;
}
.comment-text{
    min-width: 20rem;
    min-height: 3rem;
}
.comment-userName{
font-style: oblique;
 text-decoration: underline;
}